body {

	background: rgba(73,155,234,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(44,78,158,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(44,78,158,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(44,78,158,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(44,78,158,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(44,78,158,1) 100%);
	background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(44,78,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#2c4e9e', GradientType=1 );
	color: black;
	text-transform: uppercase;
}


#login-form{
    background-color: white;
    text-align: center;
    height: 300px;
    padding-top: 40px;
}

#login-form > form> div{
    padding: 5px;
}

.input-login{
	text-align: left;
	width: 80%;
	margin: auto;

}

.box-header {
	background-color: white;
	height: 70px;
	padding:1px;
}

.top-title{
	margin-top: 30px;
	text-align: center;	
	text-transform: uppercase;
}

.top-title > h1{
	text-transform: uppercase;
	font-family : Arial;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
	margin-bottom:20px;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-family : Arial;
	color: black;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 30px;
	color: #3d5c5c;
	margin-top: 30px;
}

#input-button-login{
 	text-align: center;
	width: 80%;
    margin: auto;
}