.special {
	font-style: italic;
}

.main-text {
	font-size: 20px;
}

.autor-bio{
	 font-size: 15px;
}

.descripcion {
	color: red;
}

ul {
	list-style-type:disc;
}
.items { 
	list-style-type:square; 
}

.needs-alt { border:5px solid #F00; }