.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.ticket-content{
    border: 0px solid;
    min-width: 375px;
    max-height: 50px;
}

.ticket-qty-total{
    float: right;
}

.thumbnail-product-ticket{
    max-height:220px
    
}
.thumbnail-product-ticket > div{
    max-height: 60px;
}

.thumbnail-product-ticket > div > label{
    margin-top: -3px;
    font-size:13px;
    height:15px;
}


.thumbnail-product-ticket > div >:first-child{
    color:red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
}

.thumbnail-product-ticket > div >:nth-child(3){
    color:red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
}

.filter-panel{
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 5px;
    padding-top: 10px;
    margin-top : -22px;
}

#menu-principal{
    text-transform: uppercase;
}