.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



#menu-principal{
    text-transform: uppercase;
    font-family: Georgia, serif;
}

#menu-container-row{
    margin-bottom: 0px;
    height: 50px;
}

a.navbar-brand{
    font-size: 16px;
}

a.dropdown-toggle{
 font-size: 16px;   
}

.form-form{
    padding: 15px;
    border-radius: 5px;
}

#form-session {
    width: 700px;
}

#form-session  tr {
    line-height: 40px;
}
#form-session  td {
    padding-left: 5px;
}

.product-thumbnail-list{
    max-height: 200px;
}

.product-thumbnail-list >div> h4{
    font-size : 15px;
    text-transform: lowercase;
    color : black;
    text-align: left;
    font-family: ;
}

.check-table {
    text-align : center; 
    vertical-align: bottom;
    min-width: 30px;
    width:30px;
}

.table > tbody> tr{    
    line-height: 5px;
    min-height: 5px;
    height: 10px;
}

.table > tbody> tr> td{    
    padding: 5px;
    vertical-align: bottom;
}

.table > tr > td {    
    padding: 5px;
    vertical-align: bottom;
    background-color: red;
}

.table > tr {    
    line-height: 5px;
    min-height: 5px;
    height: 10px;
    background-color: red;
}

.product-box-kanban{
    max-height: 150px;
    height: 130px;    
    border: 1px solid black;
    padding: 3px;
}

.product-box-kanban > table{
    max-height: 150px;
    height: 123px;    
    margin: 0;
    padding: 0;
    max-width: 385px;
    width: 385px;
}

.product-box-kanban > table tr td{
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;

}

.product-box-kanban  ul{
    margin-left: 5px;
    padding-left: 5px;
 }

.product-box-kanban  ul  li{
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 10px;
}

.product-box-kanban  ul  li h5{
    color: #008080;
}

.table-form{
    width: auto;
    max-width: 900px;
    margin: auto;
    margin-bottom: 25px;
}

.table-form > tbody> tr{    
    line-height: 25px;
    min-height: 5px;
}

.table-form > tbody> tr > td{    
    width: 850px;
}

.table-inlines-forms{
    width: 100%;
    max-width: 900px;
    position: center;
    margin: 5px;
}

.table-inlines-forms > tbody > tr > th{
    background-color: #D3D3D3;
    line-height: 25px;
    min-height: 20px;

}


.table-inlines-forms > tbody > tr{
    line-height: 20px;
    min-height: 15px;
}

.box-inline-form{
    width: auto;
}

.panel{
    width: auto;
}


.form-inline-form{
    padding: 5px;

}

.footer-form-order{
    width: auto;
    max-width: 900px;
    margin: auto;    
    margin-top: 5px;
}

.box-total-form-order{
    margin-right: 15px; 
    text-align: right;
}

.filter-container-fluid{
    margin: auto;
    margin-right: 20px;
}

.popup-form-filter{    
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;

}

.content-form-filter{
    max-height: 550px;
    overflow-y: scroll; 
    background-color: #eaeae1;
    margin: 5px;
}

.popup-close {
    position:relative;
    float: right;
}