{% extends "curso1/index.html" %}
{% load staticfiles %}
{% block level1 %}
	<div class="container-fluid">
  		<div class="row">
	  		<div class="col-md-12">
	  			<h1>{{ autor_autor.name }}</h1>
	  			<img alt="No Imagen" src="{{ autor_autor.model_pic.url }}">
	  			{% for obra in lista_videos %}
	  				<h3>{{ obra.name }}</h3>
	  				<iframe class="youtube-player" type="text/html" width="640" height="385" src="{{ obra.link }}" frameborder="1"></iframe>
	  			{% endfor %}	  			
	  		</div>
  		</div>
	</div>
{% endblock %}