{% extends "curso1/index.html" %}
{% block level1 %}
	<div class="container-fluid">
  		<div class="row">
	  		<div class="col-md-offset-4 col-md-4 col-md-offset-4">
	  			<h1>Artista</h1>
	  		</div>
	  		<div class="col-md-offset-3 col-md-6 col-md-offset-3">
       			    <form action="." method="POST" enctype="multipart/form-data">
   			          {% csrf_token %}
                                     {{ form.as_p }}
                                     {{ inlines.management_form }}
                                     {% for book_form in inlines %}
    									<div id="book-{{ forloop.counter0 }}">
      								 		{{ book_form }}
    									</div>    								
  									 {% endfor %}
  									<input type="button" value="Add More" id="add_more">
                                    <input type="submit" value="Submit">
                               </form>
  		         </div>
	</div>	
{% endblock %}